input.submitdelete{

  color: red;
  border: none;
  background-color: transparent;
  border-bottom: solid red 1px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  cursor: pointer;
}

input.submitdelete:hover{

  background-color: red;
  color: white;
  border-bottom: solid red 1px;
}

.postbox label{

  clear: both;
  overflow: hidden;
  margin: 8px auto;
}

.postbox .howto span{

  float: none;
  display: block;
}

.postbox textarea{

  width: 100%;
  display: block;
}

.slide header{

  background-color: #F1F1F1;
  background-image: -o-linear-gradient(top,#F9F9F9,#ECECEC)
  background-image: -ms-linear-gradient(top,#F9F9F9,#ECECEC)
  background-image: -moz-linear-gradient(top,#F9F9F9,#ECECEC)
  background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
  background-image: linear-gradient(top,#F9F9F9,#ECECEC);
}

.slide h1{

  margin-top: 0;
  margin-bottom: 0;
}

.slide span{

  float: none;
}

.slide input[type="text"],.slide input[type="url"], .slide textarea{

  display: block;
  width: 97.25%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
